[req]
distinguished_name = dn
prompt = no
[dn]
CN = app.team07.test
[v3_leaf]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:app.team07.test, DNS:api.team07.test
